<%-include('partial/header')%>
<div class="container border border-primary mt-5 w-75">
<form  action="/review" method="post">
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" name="name" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1" >Designation</label>
        <input type="text" name="desig" class="form-control" id="exampleFormControlInput1" >
      </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comment</label>
      <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-primary w-100 my-2" type="submit">Submit</button>
  </form>
</div>
<%-include('partial/footer')%>
